<div *ngIf="hero; else no_hero">

    <h2>{{hero.name | uppercase}}</h2>

    <div>
        <span>ID: </span> {{hero.id}}
    </div>

    <div>
        <span for="hero-name">Name: </span>
        <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
    </div>

    <br>

    <button type="button" (click)="goBack()">Back</button>
    <button type="button" (click)="save()">Save</button>

</div>

<ng-template #no_hero>
    <h2>HERO 404</h2>
    
    <br>
    <p>Sorry! No hero found.</p>

    <br>

    <button type="button" (click)="goBack()">Back</button>
</ng-template>