/* MessagesComponent's private CSS styles */

.clear {
  color: #333;
  background-color: #eee;
  border-radius: 4px;
  font-size: 1rem;
}

.clear:hover {
  color: white;
  background-color: #42545C;
}