/* HeroesComponent's private CSS styles */

h2 {
  text-align: center;
}

.heroes {
  list-style-type: none;
  width: 15em;
}

.heroes li {
  position: relative;
  cursor: pointer;
  margin: 4px;
}

.heroes li:hover {
  left: .2em;
}

.heroes a {
  color: #333;
  text-decoration: none;
  background-color: #EEE;
  border-radius: 4px;
  width: 100%;
}

.heroes .badge {
  font-size: small;
  color: white;
  background-color: #405061;
  text-align: right;
  border-radius: 4px 0 0 4px;
  margin-left: -4px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: -4px;
  margin-bottom: -4px;
}

.heroes .delete {
  padding: 0;
  margin-left: -8px;
}

.delete:hover {
  background-color: rgb(166, 0, 0);
}