<h2>Hero Catalog</h2>
<div class="text-center my-3">
  <input id="new-hero" #heroName placeholder="Hero name" />
  <button type="button" class="add-button mx-1" (click)="add(heroName.value); heroName.value=''">
    Add hero
  </button>
</div>
<div class="heroes">
  <li *ngFor="let hero of heroes">
    <div class="d-flex align-items-stretch">
      <div class="flex-grow-1">
        <a routerLink="/detail/{{hero.id}}">
          <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
      </div>
      <button type="button" class="delete px-2" title="delete hero" (click)="delete(hero)">
        <i class="bi bi-trash-fill"></i>
      </button>
    </div>
  </li>
</div>